.card
  .card-header.pt-3
    .row
      .col-7
        %h2.text-break= @list.name
      .col-5
        %button.btn.btn-primary.float-right
          Copy Link to List

  .card-body
    %ul#tasks.list-group-flush
      - @tasks.each do |task|
        = render task

  .card-footer
    = render partial: 'tasks/form', object:  @list.tasks.new

